.dash-message{
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

.oioioioi{
    margin-left: 220px;
    padding-left: 20px;
}