.registration{
    .leftdata{
        p{
            margin-top: 10px;
            margin-bottom: 7px;
            font-size: 16px;
        }
        button{
            margin-top: 20px;
        }
        button,input{
            height: 35px;
        }
    }
}