.editboxCoupon{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.61);
    display: flex;
    justify-content: center;

    .main{
        margin-top: 150px;
        height: 300px;
        width: 50%;
        background: white;

        .copondetails{
            width: 45%;
            input{
                width:100%;
                border: 1px solid silver;
                height: 40px;
                outline: none;
                background: white;
            }
            p{
                text-transform: capitalize;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 0px;
            }

        }

        .divideinto{
            width: 45%;
            p{
                text-transform: capitalize;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 0px;
            }
            input{
                width:100%;
                border: 1px solid silver;
                height: 40px;
                outline: none;
                background: white;
            }
        }

        .addbutton{
            width:50%;
            border: none;
            background: #2ECC40;
            font-weight: bold;
            color : white;
            height: 40px;
            font-size: 20px;
            text-transform: uppercase;
        }
        .cancel{
            background: #FF4136;
        }
        .react-datepicker-wrapper{
            width: 100%;
        }
    }
}